<html>
<head>
    <title>Bullshit Gairaigo Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id='app' v-cloak>
        <h1>
            {{info.title[lang]}}
            <select v-model='lang'>
                <option v-for='item in langList' v-bind:value='item.value'>{{item.name}}</option>
            </select>
        </h1>
        <textarea id='output' v-model='text' readonly></textarea>
        <div>
            {{info.length[lang]}}
            <input type="range" v-model='len'>
            <input v-model='len' placeholder='length'>
        </div>
        <div>
            {{info.amount[lang]}}
            <input type="range" v-model='amount' id='optlen' min='10' max='100' value='20'>
            <input v-model='amount' placeholder='amount'>
        </div>
        <div>
            <button id='gen' v-on:click='generate'>{{info.generate[lang]}}</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src='script.js'></script>

</body>
</html>
