<html>
<head>
    <title>Bullshit Gairaigo Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id='app' v-cloak class="bg-light">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">{{info.title[lang]}}</a>          
            </div>
        </nav>
        
        <div class='container-sm'>
            <h1>
                {{info.title[lang]}}
                <select v-model='lang'>
                    <option v-for='item in langList' v-bind:value='item.value'>{{item.name}}</option>
                </select>
            </h1>
            <textarea id='output' class="form-control" v-model='text' readonly></textarea>
            <div>
                <div class='row justify-content-center'>
                    <div class='col col-1'>
                        {{info.length[lang]}}
                    </div>
                    <div class='col col-2'>
                        <input id='len-control' type="range" class='form-range' v-model='len'>
                    </div>
                    <div class='col col-1'>
                        <input v-model='len' class="form-control" placeholder='length'>
                    </div>
                </div>
            <div>
                <div class='row justify-content-center'>
                    <div class='col col-1'>
                        {{info.amount[lang]}}
                    </div>
                    <div class="col col-2">
                        <input type="range" class='form-range' v-model='amount' id='optlen' min='10' max='100' value='20'>
                    </div>
                    <div class="col col-1">
                        <input v-model='amount' class="form-control" placeholder='amount'>
                    </div>
                </div>
            </div>
            <div>
                <div class='row justify-content-center'>
                    <div class="col col-2">
                        <button id='gen' type="button" class="btn btn-primary" v-on:click='generate'>{{info.generate[lang]}}</button>
                    </div>
                </div>
    
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src='script.js'></script>

</body>
</html>
