[v-cloak] {
    display: none;
}

button {
    height: 40px;
    width: 100px;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: #eeeeee;
}

#app > * {
    margin-bottom: 1ch;
}

#output {
    height: 300px;
    width: 70%;
    border-width: 2;
}

